@font-face {
    font-family: 'Gotham';
    src: url('../_fontes/Gotham-Bold.woff2') format('woff2'),
        url('../_fontes/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../_fontes/Gotham-Book.woff2') format('woff2'),
        url('../_fontes/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.gothamBold {
    font-family: 'Gotham';
    font-weight: bold;
    font-style: normal;
}

.gothamBook{
    font-family: 'Gotham Book';
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0%;
    font-family: 'Gotham';
}
#fundo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    background-image: url('../_img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#circulo {
    background-color: #005189;
    border-radius: 100%;
    width: 200px;
    height: 200px;  
}
#circulo1 {
    background: #FF0000;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
#vetor1{
    position: relative;
    width: 50%;
    height: 50%;
    top: 28px;
    left: 25%;
}
#aluno{
    color: white;
    text-align: center;
    text-decoration: none;
}
#professor{
    color: white;
    text-align: center;
}

#centralizar{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#azul{
    position: relative;
    left: 0px;
    top: 49px;
    margin-right: auto;
}
#vermelho{
    position: relative;
    left: 0px;
    bottom: 150px;
    text-decoration: none;
}
article{
    position: relative;
    height: 100vh;
}

a{
    text-decoration: none;
}