@font-face {
    font-family: 'Gotham';
    src: url('fonte/Gotham-Bold.woff2') format('woff2'),
        url('fonte/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('fonte/Gotham-Book.woff2') format('woff2'),
        url('fonte/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.gothamBold {
    font-family: 'Gotham';
    font-weight: bold;
    font-style: normal;
}

.gothamBook{
    font-family: 'Gotham Book';
    font-weight: normal;
    font-style: normal;
}

#fundo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    background-image: url('imagens/loginazul.png');
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: auto;
    font-family:'Gotham Book';
}
#cabecalho{
    width: 100%;
    height: 112px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}
.imglogo{
    position: relative;
    top: 30px;
    left: 40px ;
    
}
.headerText{
    position: relative;
    bottom: 40px;
    left: 290px;
}
.grayText{
    color: gray;
}
#paragrafo{
    background-color: black;
    color: white;
    height: 35px;
    position: relative;
    bottom: 25px;
}
#sistema{
    padding-top: 10px;
    padding-left: 10px;
}
.Nav{
    background-color: rgba(0, 81, 137, 1);;
    width: 200px;
    height: 379px;
    margin: 60px;
    position: relative;
    left: 10px;
    text-align: center;
    top: -65px;
}

.tabelacompleta{
    margin: auto;
    bottom: 500px;
    width: 1190px;
    border: 0px;
    height: 600px;
    position: relative;
    bottom: 450px;

}

.titulo{
    background-color: red; 
    width: 1170px;
    top: 80px;
    margin: auto;
    text-align: center;
    position: relative;
    color: white;
    
}
.titulo2{
    background-color:white; 
    width: 1170px;
    top: 80px;
    margin: auto;
    text-align: center;
    position: relative;
}

.materias{
    background-color:white;
     height: 65px;
}
.materia8{
    height: 65px;
}
.materia9{
    height: 65px;
}
.materia10{
    height: 65px;
}

.ultimacoluna{
    background-color: white;
    width: 100px;
}
.ultimacoluna2{
    background-color:#7eb5d0;
    width: 100px;
}
.ultimacoluna3{
    background-color:#7eb5d0;
    width: 100px;
}
.ultimacoluna4{
    background-color:#7eb5d0;
    width: 100px;
}
.ultimacoluna5{
    background-color:#7eb5d0;
    width: 100px;
}
.ultimacoluna6{
    background-color:#7eb5d0;
    width: 100px;
}
.ultimacoluna7{
    background-color:#7eb5d0;
    width: 100px;
}
.ultimacoluna8{
    background-color:#7eb5d0;
    width: 100px;
}
.ultimacoluna9{
    background-color:#7eb5d0;
    width: 100px;
}
.Vector{
    position: relative;
    top: 20px;
}

.Selection{
        z-index:10 ;
        position: relative;
        bottom: 370px;
        left: 95px;
        width: 150px;
        height: 40px;
        border-radius: 10px;
        z-index: 11;
}
.caps{
    color: white;
    font-size: 30px;
}
.WhiteText{
    color: white;
    padding:20px;
    margin:auto;
    font-size: 20px;
}
#paragrafo{
    background-color: black;
    color: white;
    height: 50px;
}
#sistema{
    padding-top: 15px;
    padding-left: 10px;
}

.adicionar{
    background: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 16%;
}
/* .adicionar2{
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    margin-left: 76%;
    z-index: 10;
} */
.botao1{
   margin-bottom: 50px;
   bottom: 665px;
   position:relative;
   position: relative;
    left: 470px;
    width: 250px;
    height: 50px;
    margin-top: 70px;
}

.botao2{
    margin-bottom: 50px;
    bottom: 1195px;
    position:relative;
    position: relative;
     left: 1450px;
     width: 250px;
     height: 50px;
     margin-top: 70px;
}

.buttonH2{
    border-color: white;
    background-color: white;
    position: relative;
    left: 1200px;
    width: 250px;
    height: 50px;
    margin-top: 60px;
    bottom: 945px;
}
.footer{
    background-color: black;
    width: 100%;
    height: 100px;
    text-align: center;
}

.WhiteText{
    color: white;
    padding:20px;
    margin:auto;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

/*background-color: none;
box-shadow: 10px 5px 5px rgba(93, 127, 143, 1);
}